---
import styles from "./MainVid.module.scss";
---

<div class={styles.container}>
    <div class={styles.top_container}>
        <p class={styles.main_title}>Lorem ipsum</p>
    </div>
    <div class={styles.bottom_container}>
        <div class={styles.thumbnail}>
            
        </div>
        <div class={styles.full_description}>
            <div class={styles.top}>
                <p class={styles.title}>Lorem ipsum dolor sit amet consectetur.</p>
                <p class={styles.discription}>
                    Lorem ipsum dolor sit amet consectetur. Nunc etiam sagittis pellentesque vitae. Viverra nisl dui lacus tortor mi facilisi erat mattis sodales. Tincidunt nisl volutpat imperdiet consectetur diam urna ac. Viverra ipsum ac malesuada viverra. Fermentum.
                </p>
                <div class={styles.rating}>
                    <p class={styles.rate}>
                        5.0
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>